#modelWrap {
    position: fixed;
    top: 6%;
    right: 0;
    left: 0;
    text-align: center;
    z-index: -1;
    // border: 3px solid white;
    padding: 70px;
}

#modelWrap.show {
    z-index: 10;
}

// class model
.classPopUpModel {
    height: 700px;
    width: 1400px;
    background: white;
    opacity: 0;
    transition: all .3s;
    margin: 0 auto;
    display: none;
    // border: 0px 0px 60px 15px #010101
    
    
}

//  clalss model show
.classPopUpModelShow {
    box-shadow: 0px 5px 60px 15px #010101;
    border-radius: 30px;
    opacity: 1;
    display: inline-block
}

    
// insdie model stuff
.sides {
    display: inline-block;
    border-radius: 20px;
    margin: 13px 1px 0 5px;
    
}

.leftSide {
    overflow: hidden;
    height: 96%;
    width: 38%;
    background-image: url(../images/backgrounds/perion2.png);
    background-size: cover;
}

.rightSide {
    width: 59.7%;
    height: 28%;
    // height: 97%;
    background: white;
    margin-top: -10px;
    overflow: auto;
    // border-left: 4px solid rgba(128, 128, 128, 0.4);
}

.className {
    color: rgb(121, 4, 4);
    padding-top: 510px;
    text-decoration: underline;
    font-size: 45px;
    
}


.model_class_photo {
    height: 500px;
    position: absolute;
    left: 301px;
    top: 160px;
}

.button {
    background: none;
    border: 3px solid white;
    border-radius: 50px;
    color: white;
    display: inline-block;
    font-size: 35px;
    height: 50px;
    margin: 0 auto;
    padding: 7px 0 0 0;
    width: 200px;
    
}


#skills_button, #video_button {
    margin: 20px 10px 0 0;
}

.skills {
    border: 4px solid rgba(128, 128, 128, 0.4);
    border-radius: 18px;
    margin: 5px;
    float: left;
    width: 30%;
}

.skillPicture, .skillName {
    display: inline-block;
}

.skillName {
    font-size: 35px;
}


// #zerker {
// //     position: absolute;
// //     left: 301px;
// //     top: 90px;
// // }

#x {
    // height: 25px;
    position: absolute;
    right: 157px;
    top: 37px;
    background-image: url("images/cross-out.png") ;
    border: 2px solid white;
}