// Model layout for once you click into a class page

#modelWrap {
    position: fixed;
    top: 10%;
    right: 0;
    left: 0;
    text-align: center;
    z-index: -1;
}

#modelWrap.show {
    z-index: 10;
}

.classPopUpModel {
    height: 700px;
    width: 1400px;
    background: gray;
    opacity: 0;
    transition: all .3s;
    margin: 0 auto;
    
}

.classPopUpModelShow {
    opacity: 1;
}

#className {
    width: 400px;
    height: 75px;
    border: 3px solid white;
    border-radius: 10px;
    background: rgba(128, 128, 128, 0.6);
    margin: 0 auto;

}




.classesLeftSide {
   width: 40%; 
}




.classesRightSide {
    width: 59%;

}