@import "classPicker";
// @import 'classesPage';
@import "indexPage";

// resets
* {
    margin: 0;
}

body {
    height: 100%;
    overflow: hidden;
    font-family: 'Assistant', sans-serif;

}

// L&R div layout setup

// .box {
//     display: inline-block;
//     border: 1px solid black;
//     height: 100vh;
//     overflow: hidden;
//     text-align: center;
// }

// #leftSide {
//     /* border: 2px solid black; */
//     width: 40%;
//     float: left;
//     position: fixed;
//     /* margin-left: 0.5px; */
//     background: #CCA19F;
//     left: 0;
    
// }

// #rightSide {
//     width: 60%;
//     position: absolute;
//     right: 0;
//     overflow: hidden;
// }
